@{
    ViewBag.Title = "Página de inicio";
}

<div class="jumbotron">
    <h1>Tienda online de productos farmacéuticos</h1>
    <p class="lead">Bienvenido a nuestra tienda online de productos farmacéuticos, donde podrás encontrar todo lo que necesitas para cuidar de tu salud y bienestar.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Nuevos productos</h2>
        <p>
            Descubre los últimos productos en nuestra tienda online, desde vitaminas y suplementos hasta medicamentos de prescripción médica.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Envío gratis</h2>
        <p>Realiza una compra de más de $50 y disfruta de envío gratis a cualquier parte del país.</p>
    </div>
    <div class="col-md-4">
        <h2>Atención al cliente</h2>
        <p>Nuestro equipo de atención al cliente está disponible las 24 horas del día para ayudarte con cualquier pregunta o inquietud que tengas.</p>
    </div>
</div>